<!DOCTYPE html>
<nav class="d-flex navbar navbar-light bg-primary mt-2">
    <button (click)="clickRaiseTicket()" class="btn btn-primary" type="button" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Raise Ticket <fa-icon class="faPlus" [icon]="faPlus"></fa-icon>
    </button>
    <div class="searctText">
        <input class="form-control mr-sm-2" type="search" placeholder="&#9906; Search" aria-label="Search"
            [(ngModel)]="searchText">
    </div>
    <fa-icon class="faFilter" [icon]="faFilter"></fa-icon>
    <button routerLink="/login" (click)="logout()" class="btn btn-danger">Logout</button>

</nav>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="idx" scope="col">S.No</th>
            <th class="id" scope="col">ID</th>
            <th class="title" scope="col">Title</th>
            <th class="desc" scope="col">Description</th>
            <th class="assignedto" scope="col">Assigned To</th>
            <th class="progression" scope="col">Status</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of ticketData | searchFilter:searchText; let i=index">
            <td>{{i+1}}</td>
            <td>{{row.id}}</td>
            <td>{{row.title}}</td>
            <td>{{row.desc}}</td>
            <td>{{row.assign}}</td>
            <td>{{row.status}}</td>
            <td class="buttons">
                <button (click)="editTicketDetails(row)" class="btn bg-primary btn-primary edit-btn" type="button"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <fa-icon class="faPlus" [icon]="faEdit"></fa-icon>
                </button>
                <button (click)="deleteTicketDetails(row)" class="btn bg-danger btn-primary del-btn">
                    <fa-icon class="faPlus" [icon]="faDelete"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Raise a Ticket</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="ticketForm">
                <div class="form-group modal-form" *ngFor="let fields of json">
                    <label for="{{fields.id}}">{{fields.label}}</label>
                    <input type="{{fields.type}}" class="form-control modal-form-label" id="{{fields.id}}"
                        aria-describedby="emailHelp" placeholder="{{fields.placeholder}}"
                        formControlName="{{fields.formControlName}}">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" class="btn btn-primary" (click)="postTicketDetails()"
                    data-bs-dismiss="modal">Raise </button>
                <button type="button" *ngIf="showUpdate" class="btn btn-primary" (click)="updateTicketDetails()"
                    data-bs-dismiss="modal">Update </button>
            </div>
        </div>
    </div>
</div>


<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->