<!DOCTYPE html>
<form class="form" (submit)="login()" [formGroup]="loginForm">

    <div class="form-group" *ngFor="let fields of json">
        <label for="{{fields.id}}">{{fields.label}}</label>
        <input formControlName="{{fields.formControlName}}" value="{{fields.value}}" class="{{fields.class}}" type="{{fields.type}}" name="{{fields.name}}" id="{{fields.id}}" placeholder="{{fields.placeholder}}">
    </div>
    <p>New User? Click here to<a routerLink="/signup"> Sign Up</a></p>
    <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>

</form> 