<!DOCTYPE html>

<form class="form" (submit)="signup()" [formGroup]="signupForm">

    <div class="form-group" *ngFor="let fields of json">
        <label for="{{fields.id}}">{{fields.label}}</label>
        <input formControlName="{{fields.formControlName}}" class="{{fields.class}}" type="{{fields.type}}"
            name="{{fields.name}}" id="{{fields.id}}" placeholder="{{fields.placeholder}}">
        <small class="text-danger"
            *ngIf="signupForm.controls[fields.id] && signupForm.controls[fields.id].invalid && signupForm.controls[fields.id].touched">{{fields.msg}}</small>
        <small class="text-danger"
            *ngIf="signupForm.errors?.['minlength']">* Password must be more than 8
            characters</small>
    </div>
    <button [disabled]="signupForm.invalid" id="submit" type="submit"
        class="btn btn-primary form-button">Signup</button>
    <p>Registered User? Click here to<a routerLink="/login"> Login</a></p>
    <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>

</form>